[Desktop Entry]
Name=Gswww
Exec=gswww
Terminal=false
Type=Application
Icon=com.github.Ph1lll.Gswww
Comment=Your Graphical Solution to your Wayland Wallpaper Woes
Categories=Utility;
