[Desktop Entry]
Name=Gswww
Exec=gswww
Comment=Your Graphical Solution to your Wayland Wallpaper Woes
Icon=com.github.Ph1lll.Gswww

Type=Application
MimeType=inode/directory;
Categories=Utility;
Terminal=false
